
@media (max-width: 920px){
    /* Estilos responsive Movile */
    
    /*-- Estilos responsive para el div header ESTEBAN--*/
    div.Header-Esteban{
        height: 100vh;
    }
    div.Header-Esteban>header{
        height: 100vh;
        display: grid;
        color: white;
        text-shadow: 5px 5px 10px rgb(167, 43, 255);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                            "titulo titulo"
                            "parrafo"
                            "nombres"
                            "naveg";
    }

    div.Header-Esteban>header>article.parrafo{
        grid-area: parrafo;
        font-size: 200%;
        align-self: center;
        text-align: center;
        margin: 0% 5%;
    }

    div.Header-Esteban>header>article.nombres{
        grid-area: nombres;
        font-size: 110%;
        align-self: center;
        text-align: center;
    }

    div.Header-Esteban>header>article.nav{
        grid-area: naveg;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120%;
}

    /*-- Estilos responsive para seccion 2 ESTEBAN--*/

    section.seccion2-Esteban{
        height: 100vh;
        display: grid;
        color: white;
        text-shadow: 5px 5px 10px rgb(98, 14, 233);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                            "titulo titulo"
                            "texto texto"
                            "texto texto"
                            "texto texto";
    }

    section.seccion2-Esteban>div.titulo{
        grid-area: titulo;
        text-align: center;
        align-self: center;
        font-size: 400%;
    }

    section.seccion2-Esteban>div.image>img{
        width: 0%;
        height: 0%;
    }

    /*-- Estilos responsive para seccion 3 ESTEBAN--*/

    section.seccion3-Esteban{
        height: 300vh;
        display: grid;
        color: white;
        text-shadow: 5px 5px 10px rgb(141, 20, 255);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 5fr 5fr;
        gap: 1% 3%;
        grid-template-areas:
                            "titulo"
                            "part1"
                            "part2"
                            "part3";
    }

    section.seccion3-Esteban>article.parte1{
        grid-area: part1;
        display: grid;
        grid-template-rows: 60% 10% 30%;
        margin: 0% 15%;
    }

    section.seccion3-Esteban>article.parte2{
        grid-area: part2;
        display: grid;
        grid-template-rows: 60% 10% 30%;
        margin: 0% 15%;
    }

    section.seccion3-Esteban>article.parte3{
        grid-area: part3;
        display: grid;
        grid-template-rows: 60% 10% 30%;
        margin: 0% 15%;
    }
    /*-- Estilos responsive para seccion 4 SOFIA--*/

    section.seccion4-Sofia{
        height: 200vh;
        background-color: lightslategray;
    }

    /*-- Estilos responsive para seccion 5 SOFIA--*/

    section.seccion5-Sofia{
        height: 200vh;
        background-color: rgb(135, 30, 30);
    }

    /*-- Estilos responsive para seccion 6 JUAN DANIEL--*/

    section.seccion6-JuanDaniel{
        height: 200vh;
        background-color: rgb(69, 200, 102);
    }

    /*-- Estilos responsive para seccion 7 JUAN DANIEL--*/

    section.seccion7-JuanDaniel{
        height: 200vh;
        background-color: rgb(228, 69, 188);
    }

    /*-- Estilos responsive para seccion 8 DANIEL PAREJA--*/

    section.seccion8-DanielPareja{
        height: 200vh;
        background-color: rgb(228, 225, 69);
    }

    /*-- Estilos responsive para seccion 9 DANIEL PAREJA--*/

    section.seccion9-DanielPareja{
        height: 200vh;
        background-color: rgb(35, 188, 254);
    }
    /*-- Estilos responsive para el Footer --*/

    footer{
        height: 60vh;
        background-color: lime;
        }

    }
    