
@media (max-width: 920px){
    /* Estilos responsive Movile */
    
    /*-- Estilos responsive para el div header --*/
    
/*-- Estilos responsive para el div header ESTEBAN--*/
        div.Header-Esteban{
            height: 80vh;
            background-color: lightblue;
        }

        /*-- Estilos responsive para seccion 2 ESTEBAN--*/

        section.seccion2-Esteban{
            height: 200vh;
            background-color: rgb(194, 234, 50);
        }

        /*-- Estilos responsive para seccion 3 ESTEBAN--*/

        section.seccion3-Esteban{
            height: 200vh;
            background-color: lightgreen;
        }

        /*-- Estilos responsive para seccion 4 SOFIA--*/

        section.seccion4-Sofia{
            height: 200vh;
            background-color: lightslategray;
        }

        /*-- Estilos responsive para seccion 5 SOFIA--*/

        section.seccion5-Sofia{
            height: 200vh;
            background-color: rgb(135, 30, 30);
        }

        /*-- Estilos responsive para seccion 6 JUAN DANIEL--*/

        section.seccion6-JuanDaniel{
            height: 200vh;
            background-color: rgb(69, 200, 102);
        }

        /*-- Estilos responsive para seccion 7 JUAN DANIEL--*/

        section.seccion7-JuanDaniel{
            height: 200vh;
            background-color: rgb(228, 69, 188);
        }

        /*-- Estilos responsive para seccion 8 DANIEL PAREJA--*/

        section.seccion8-DanielPareja{
            height: 200vh;
            background-color: rgb(228, 225, 69);
        }

        /*-- Estilos responsive para seccion 9 DANIEL PAREJA--*/

        .seccion9-DanielPareja{
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #9d50bb, #6e48aa, #fd1d1d, #ff6e7f); 
            background-size: 200% 200%;
            color: white;
            font-family: Arial, sans-serif;
            padding: 20px;
          }
          
          .seccion9-DanielPareja h2 {
            margin-bottom: 30px;
          }
          
          .grid-container {
            display: flex;
            justify-content: space-between;
            width: 80%; 
            align-items: center;
          }
          
          .text1, .text2, .text3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 15px;
            width: 20vw;
            height: 20vw;
            margin: 15px;
          }
          
          .text1 h3, .text2 h3, .text3 h3 {
            margin-bottom: 10px;
          }
        /*-- Estilos responsive para el Footer --*/

        footer{
            height: 60vh;
            background-color: lime;
        }

    }
    