
/*pagina de estilos*/

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    background-color: #f5f5f5;
}

/*-- Estilos para el div header ESTEBAN--*/

div.Header-Esteban{
    height: 100vh;
    background-image: url(../img/esteban/punto.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /*-- Estilos a profundidad para el div header ESTEBAN--*/
    div.Header-Esteban{
        width: 100%;
    }

    div.Header-Esteban>header{
        height: 100vh;
        display: grid;
        color: white;
        text-shadow: 5px 5px 10px rgb(43, 167, 255);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                            "leftimage titulo titulo"
                            "leftimage parrafo parrafo"
                            "leftimage nombres nombres"
                            "leftimage naveg naveg";
    }

    div.Header-Esteban>header>article.titulo{
        grid-area: titulo;
        text-align: center;
        align-self: end;
        font-size: 100%;
    }

    div.Header-Esteban>header>article.leftImage{
        grid-area: leftimage;
    }
    div.Header-Esteban>header>article.leftImage>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    div.Header-Esteban>header>article.parrafo{
        grid-area: parrafo;
        font-size: 240%;
        align-self: center;
        text-align: center;
        margin: 0% 5%;
    }

    div.Header-Esteban>header>article.nombres{
        grid-area: nombres;
        font-size: 160%;
        align-self: center;
        text-align: center;
    }

    div.Header-Esteban>header>article.nav{
        grid-area: naveg;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120%;
    }

    div .botonNav{
        background-color: rgba(75, 60, 148, 0.1);
        border-radius: 35px;
        color: white;
        font-size: 110%;
        font-weight: 700;
        padding: 3% 5%;
        text-align: center;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    }

    div .botonNav:hover{
        box-shadow: white 0 0 0 3px, transparent 0 0 0 0;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    }


/*-- Estilos para seccion 2 ESTEBAN--*/

section.seccion2-Esteban{
    height: 100vh;
    background-image: url(../img/esteban/punto4.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    /*-- Estilos a profundidad para section 2 ESTEBAN--*/
    section.seccion2-Esteban{
        height: 100vh;
        display: grid;
        color: white;
        text-shadow: 5px 5px 10px rgb(175, 6, 213);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                            "titulo titulo rigthimage"
                            "texto texto rigthimage"
                            "texto texto rigthimage"
                            "texto texto rigthimage";
    }

    section.seccion2-Esteban>div.titulo{
        grid-area: titulo;
        text-align: center;
        align-self: end;
        font-size: 400%;
    }

    section.seccion2-Esteban>div.image{
        grid-area: rigthimage;
    }

    section.seccion2-Esteban>div.image>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    section.seccion2-Esteban>div.texto{
        grid-area: texto;
        font-size: 220%;
        align-self: center;
        text-align: center;
        margin: 0% 10%;
        border:  5% 0%;
    }

/*-- Estilos para seccion 3 ESTEBAN--*/

section.seccion3-Esteban{
    height: 100vh;
    background-image: url(../img/esteban/punto3.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /*-- Estilos a profundidad para section 3 ESTEBAN--*/
    section.seccion3-Esteban{
        height: 100vh;
        display: grid;
        color: white;
        text-shadow: 5px 5px 10px rgb(115, 28, 238);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 5fr;
        gap: 5% 3%;
        grid-template-areas:
                            "titulo titulo titulo"
                            "part1 part2 part3";
    }


    section.seccion3-Esteban>div.titulo{
        grid-area: titulo;
        text-align: start;
        align-self: center;
        font-size: 300%;
        margin-left: 5%;
    }

    section.seccion3-Esteban>article.parte1{
        grid-area: part1;
        display: grid;
        grid-template-rows: 60% 10% 30%;
        margin-left: 10%;
    }
        
        section.seccion3-Esteban>article.parte1>div.imgcarro{
            margin: 0% 5%;
        }

        section.seccion3-Esteban>article.parte1>div.imgcarro>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px;
        }

        section.seccion3-Esteban>article.parte1>div.subtitulo1{
            text-align: center;
            font-size: 230%;
            align-self: center;
            margin-top: 4%;
        }

        section.seccion3-Esteban>article.parte1>div.texto1{
            text-align: center;
            font-size: 150%;
            align-self: flex-start;
            margin: 10% 10%;
        }

    section.seccion3-Esteban>article.parte2{
        grid-area: part2;
        display: grid;
        grid-template-rows: 60% 10% 30%;
    }

        section.seccion3-Esteban>article.parte2>div.imgmedical{
            margin: 0% 5%;
        }

        section.seccion3-Esteban>article.parte2>div.imgmedical>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px;
        }

        section.seccion3-Esteban>article.parte2>div.subtitulo2{
            text-align: center;
            font-size: 230%;
            align-self: center;
            margin-top: 4%;
        }

        section.seccion3-Esteban>article.parte2>div.texto2{
            text-align: center;
            font-size: 150%;
            align-self: flex-start;
            margin: 10% 10%;
        }

    section.seccion3-Esteban>article.parte3{
        grid-area: part3;
        display: grid;
        grid-template-rows: 60% 10% 30%;
        margin-right: 10%;

    }

        section.seccion3-Esteban>article.parte3>div.imghome{
            margin: 0% 5%;
        }

        section.seccion3-Esteban>article.parte3>div.imghome>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 30px;
        }

        section.seccion3-Esteban>article.parte3>div.subtitulo3{
            text-align: center;
            font-size: 230%;
            align-self: center;
            margin-top: 4%;
        }

        section.seccion3-Esteban>article.parte3>div.texto3{
            text-align: center;
            font-size: 150%;
            align-self: flex-start;
            margin: 10% 10%;
        }





/*-- Estilos para seccion 4 SOFIA--*/

section.seccion4-Sofia{
    height: 100vh;
    background-image:url("backDiap4.jpg");
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
}
div.transparencia{
    background-color: rgba(17, 16, 16, 0.5);
    width: 60%;
    height: 100%;
    display: flexbox;
}
div.elQueEmpuja{
    width: 40%;
    height: 10%;
    display:flexbox;
}

div.burbuja{
    position: absolute;
    margin: -10%;
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 25px rgba(255,255,255,025);
    border-radius: 50%;
    animation: animate 8s ease-in-out infinite;
}
@keyframes animate{
    0%,100%
    {
        transform:translateX(-300px);
    }
    50%
    {
        transform:translateX(-100px);
        transform:translateY(200px);
    }
}

div.burbuja::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #641ce1;
    z-index: 10;
    filter: blur(2px);
    animation: animate 8s ease-in-out infinite;
}

div.burbuja::after{
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3620f7;
    z-index: 10;
    filter: blur(2px);
    animation: animate 8s ease-in-out infinite;
}

div.burbuja span{
    position: absolute;
    border-radius: 80%;
    
}
div.burbuja span:nth-child(1){
    border-left: 15px solid#0f0cca;
    inset: 10px;
    filter: blur(8px);
}

div.burbuja span:nth-child(2){
    border-right: 10px solid #ff4484;
    inset: 10px;
    filter: blur(8px);
}

div.burbuja::after{
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3620f7;
    z-index: 10;
    filter: blur(2px);
    animation: animate 8s ease-in-out infinite;
}

div.burbuja span{
    position: absolute;
    border-radius: 80%;
    
}
div.burbuja span:nth-child(1){
    border-left: 15px solid#0f0cca;
    inset: 10px;
    filter: blur(8px);
}

div.burbuja span:nth-child(2){
    border-right: 10px solid #ff4484;
    inset: 10px;
    filter: blur(8px);
}
div.burbuja span:nth-child(3){
    border-top: 10px solid #c031f9;
    inset: 20px;
    filter: blur(8px);
}

div.burbuja span:nth-child(4){
    border-bottom: 10px solid #fbfbfa;
    inset: 10px;
    filter: blur(8px);
    transform: rotate(330deg);
}

article.titulo > h1{
    color: white;
    text-indent: 21%;
    align-self: flex-end;
    font-family: Arial;
    margin-top: 9%;
    font-size: 500%;
}

article.uno >h3,article.uno > p,article.uno >ul{
    color: white;
    font-family: Arial;
    font-size: 180%;
    margin-left: 3%;
    margin-top: 3%;
    align-self: flex-end;
}

article.dos > h3,article.dos >p,article.dos>ul{
    color: white;
    font-family: Arial;
    font-size: 180%;
    margin-left: 3%;
    margin-top: 3%;
    align-self: flex-end;
}
article.tres > h3,article.tres >p,article.tres >ul{
    color: white;
    font-family: Arial;
    font-size: 180%;
    margin-left: 3%;
    margin-top: 3% ;
    align-self: flex-end;
}

/*-- Estilos para seccion 5 SOFIA--*/

section.seccion5-Sofia{
    height: 100vh;
    background-image:url("backDiap5.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

div.transparencia2{
    background-color: rgba(17, 16, 16, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

article.titulo2 >h1{
    color: white;
    align-self: flex-start;
    font-family: Arial;
    margin: 9%;
    font-size: 500%;
}

article.primero >h3,article.primero >ul,article.primero >li {
    color: white;
    font-family: Arial;
    font-size: 100%;
    margin-top: 3%;
}

article.segundo >h3,article.segundo >ul,article.segundo >li{
    color: white;
    font-family: Arial;
    font-size: 100%;
    margin-top: 3%;
}

article.tercero >h3,article.tercero >ul,article.tercero >li{
    color: white;
    font-family: Arial;
    font-size: 100%;
    margin-top: 3%;
}

article.cuarto >h3,article.cuarto >ul,article.cuarto >li{
    color: white;
    font-family: Arial;
    font-size: 100%;
    margin-top: 3%;
}

div.cuadro1{
    background-color: rgba(9, 9, 104, 0.5);
    width: 200%;
    height: 20%;
    border-radius: 6%;
    transform: translateX(-0px) translateY(250px);
    margin: 3px;
    padding: 1%;
}

div.cuadro2{
    background-color: rgba(9, 9, 104, 0.5);
    width: 200%;
    height: 20%;
    border-radius: 6%;
    transform: translateX(-290px) translateY(500px);
    margin-top: -20px;
    padding: 1%;
}

div.cuadro3{
    background-color: rgba(9, 9, 104, 0.5);
    width: 200%;
    height: 20%;
    border-radius: 6%;
    transform: translateX(-65px) translateY(500px);
    margin-top: -20px;
    padding: 1%;
}

div.cuadro4{
    background-color: rgba(9, 9, 140, 0.5);
    width: 200%;
    height: 20%;
    border-radius: 6%;
    transform: translateX(-350px) translateY(270px);
    margin-top: -20px;
    padding: 1%;
}

/*-- Estilos para seccion 6 JUAN DANIEL--*/

section.seccion6-JuanDaniel{
    height: 100vh;
    background-image: url(/img/juanDaniel/fondo6.png);
}
.diap6{
    margin: 60px;;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px; 
}
.color2{
    color: transparent;
}
.numero{
    font-family: sans-serif;
    text-align:center;
    margin-top: 50px;
    font-size: 80px;
    font-weight: 500;
    color:transparent;
    background-image: url(https://media.giphy.com/media/UR6ZXKs8bKhuU/giphy.gif);
    background-position:center;
    -webkit-background-clip: text;
}
.title1{
    font-family: sans-serif;
    text-align:center;
    font-size: 80px;
    font-weight: 500;
    color:transparent;
    background-image: url(https://media.giphy.com/media/IbekjrW43xz0XNtpe0/giphy.gif);
    background-position:center;
    -webkit-background-clip: text;
}
/*-- Estilos para seccion 7 JUAN DANIEL--*/

section.seccion7-JuanDaniel{
    height: 100vh;
    background-image: url(/img/juanDaniel/fondo7.png);
}
.title2{
    font-family: sans-serif;
    text-align:center;
    font-size: 100px;
    font-weight: 500;
    color:transparent;
    background-image: url(https://media.giphy.com/media/cSfkdR9w2CSI3atokL/giphy-downsized-large.gif);
    background-position:center;
    -webkit-background-clip: text;
}
.diap7{
    margin: 60px;;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}
.color{
    color:#f5f5f5;
}

/*-- Estilos para seccion 8 DANIEL PAREJA--*/

.seccion8-DanielPareja{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9d50bb, #6e48aa, #fd1d1d, #ff6e7f);
    background-size: 200% 200%;
    color: white;
    font-family: Arial, sans-serif;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;
    position: relative;
    width: 60%;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dcd6f7; /* Morado claro */
    top: 50%;
    left: 0;
}

.evento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.evento h2 {
    background-color: #dcd6f7; /* Morado claro */
    color: #6e48aa; /* Morado oscuro */
    margin: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.evento h3 {
    margin-bottom: 10px; /* Espacio debajo del título */
}

.evento:nth-child(2) h2 {
    order: 2;
}

.evento:nth-child(2) h3 {
    order: 1;
}

.evento p {
    width: 80%;
    margin-top: 10px; /* Espacio encima del texto */
}

/*-- Estilos para seccion 9 DANIEL PAREJA--*/

.seccion9-DanielPareja{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9d50bb, #6e48aa, #fd1d1d, #ff6e7f); 
    background-size: 200% 200%;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .seccion9-DanielPareja h2 {
    margin-bottom: 30px;
  }
  
  .grid-container {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    align-items: center;
  }
  
  .text1, .text2, .text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 20vw;
    height: 20vw;
    margin: 15px;
  }
  
  .text1 h3, .text2 h3, .text3 h3 {
    margin-bottom: 10px;
  }
/*-- Estilos para el Footer --*/

footer{
    height: 30vh;
    background-color: lime;
}

