
@media (max-width: 920px){
    /* Estilos responsive Movile */
    
    /*-- Estilos responsive para el div header --*/
    
/*-- Estilos responsive para el div header ESTEBAN--*/
        div.Header-Esteban{
            height: 80vh;
            background-color: lightblue;
        }

        /*-- Estilos responsive para seccion 2 ESTEBAN--*/

        section.seccion2-Esteban{
            height: 200vh;
            background-color: rgb(194, 234, 50);
        }

        /*-- Estilos responsive para seccion 3 ESTEBAN--*/

        section.seccion3-Esteban{
            height: 200vh;
            background-color: lightgreen;
        }

        /*-- Estilos responsive para seccion 4 SOFIA--*/

        section.seccion4-Sofia{
            height: 200vh;
            background-color: lightslategray;
        }

        /*-- Estilos responsive para seccion 5 SOFIA--*/

        section.seccion5-Sofia{
            height: 200vh;
            background-color: rgb(135, 30, 30);
        }

        /*-- Estilos responsive para seccion 6 JUAN DANIEL--*/

        section.seccion6-JuanDaniel{
            height: 200vh;
            background-color: rgb(69, 200, 102);
        }

        /*-- Estilos responsive para seccion 7 JUAN DANIEL--*/

        section.seccion7-JuanDaniel{
            height: 200vh;
            background-color: rgb(228, 69, 188);
        }

        /*-- Estilos responsive para seccion 8 DANIEL PAREJA--*/

        section.seccion8-DanielPareja{
            height: 200vh;
        
        }
        .timeline {
            grid-template-columns: 1fr;
            width: 80%;
        }
    
        .timeline::before {
            left: 50%;
            top: 0;
            height: 100%;
            width: 2px;
        }
    
        .evento h2 {
            order: 1;
            margin-bottom: 20px;
        }
    
        .evento:nth-child(2) h2 {
            order: 1;
            margin-bottom: 20px;
        }
    
        .evento:nth-child(2) h3 {
            order: 2;
        }

        @media (max-width: 600px) {
            .timeline {
                grid-template-columns: 1fr;
                width: 90%;
            }
        
            .timeline::before {
                left: 50%;
                top: 0;
                height: 100%;
                width: 2px;
            }
        
            .evento h2 {
                order: 1;
                margin-bottom: 20px;
            }
        
            .evento:nth-child(2) h2 {
                order: 1;
                margin-bottom: 20px;
            }
        
            .evento:nth-child(2) h3 {
                order: 2;
            }
        
            .evento p {
                width: 100%;
            }
        }
    

        /*-- Estilos responsive para seccion 9 DANIEL PAREJA--*/


    .grid-container {
            flex-direction: column;
            align-items: center;
    }
      
    .text1, .text2, .text3 {
            width: 80vw;
            height: auto;
            margin: 10px 0;
    }
    @media (max-width: 600px) {
    .grid-container {
        flex-direction: column;
        align-items: center;
    }
  
    .text1, .text2, .text3 {
        width: 90vw;
        height: auto;
        margin: 10px 0;
    }

    .seccion9-DanielPareja h2 {
        font-size: 1.5em;
    }

    .text1 h3, .text2 h3, .text3 h3 {
        font-size: 1.2em;
    }
}
        /*-- Estilos responsive para el Footer --*/

        footer{
            height: 60vh;
            background-color: lime;
        }
    }

    